<?xml version="1.0"?>
<configuration>
  <!--
  <runtime>
    <leacyUnhandledExceptionPolicy enabled ="true"/>
  </runtime>
  -->
  <connectionStrings>
    <add name="AgvDB" connectionString="server=127.0.0.1\SQLEXPRESS;DataBase=AgvData;uid=sa;pwd=123456;"/>
    <!-- name = "AgvDB" 字段别名
    server=127.0.0.1\\SQLEXPRESS  数据库所在服务器IP
    DataBase=master  数据库名
    User ID=sa     数据库登录用户名
    PassWord=123456;   加转义符的数据库登录密码，密码为：123456
    -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
